*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    letter-spacing: .5px;
}

html{
  scroll-behavior: smooth;
}

p{
  text-align: justify;
}

h1{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
}

.whole-container{
    height: 100vh;
}

.width-container{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020205;
    /* background-color: #F2F4F7; */
    color: #F2F4F7;
    position: fixed;
    z-index: 10;
    padding-top: 0.5rem;
}

.header-container{
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1.2rem;
    /* color: #020205; */
    margin: 1rem 3rem;
}

.header-left{
    flex: 1;
    
}

.header-left a{
  color: #F2F4F7;
  text-decoration: none;
}

.header-center{
    flex: 2;
    text-align: center;
}

.dropdown-container{
  display: none;
}

.burger-button{
  color: #F2F4F7;
  background-color: #020205;
  border: 0;
  padding: 0;
  font-size: 2.5rem;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.header-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.fa-github{
    font-size: 2.5rem;
    /* padding: 1rem; */
}

.nav-list{
    height: 100%;
    font-size: 1.25rem;
    margin: 0;
    line-height: 200%;
}

.nav-list li{
    list-style-type: none;
    display: inline;
    padding: 1rem;
    padding: 1rem 0rem 1rem 1.5rem;
    margin: auto;
}

.nav-list i{
    cursor: pointer;
}

.nav-list a{
    text-decoration: none;
    color: #F2F4F7;
    /* color: #020205; */
}

.main-width-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #020205;
    color: #F2F4F7;
}

.main-container{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-container{
    display: flex;
    flex-direction: row;
    margin-top: 12rem;
    margin: 12rem 2rem 0rem 2rem;
    padding-bottom: 5rem;
}

.about-left{
    flex:1;
}

.about-left h1{
    font-size: 5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.about-left p{
    font-size: 1.5rem;
}

.about-right{
    flex:1;
    text-align: center;
    border-radius: 30% 70% 76% 24% / 30% 30% 70% 70% ;
    background-color: #F2F4F7;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 15px 10px;
    margin: 0rem 3rem;
    position: relative;
}

.about-right img{
    position: relative;
    max-width: 24rem;
    top: 15px;
}

.about-button{
    font-size: 1.25rem;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    width: 30%;
    background-color: #F2F4F7;
    color: #020205;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 1rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.interests-container{
    text-align: center;
    padding-bottom: 5rem;
    margin: 0rem 2rem;
    width: 100%;
}

.interests-container h1{
    font-size: 3.5rem;
}

.interests{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.interest-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
    background-color: #F2F4F7;
    color: #020205;
    border-radius: 10px;
    margin: 3rem 1rem;
    box-sizing: content-box;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px 8px;
    flex: 1;
    letter-spacing: 3px;
}

.interest-container i{
    margin-bottom: 1.5rem;
    font-size: 6rem;
}

.technologies-container{
    margin-bottom: 5rem;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83%;
}

.tech-width-container{
    border-radius: 15px;
    width: 85%;
}

.technologies-container h1{
    font-size: 3.5rem;
}

.technologies{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.technology-container{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
}

.technology-container p{
  font-size: 1.25rem;
}

.tech-content{
    display: flex;
    flex-direction: row;
}

.tech-content p{
    float: left;
}

.tech-logo{
    width: 7.5%;
    padding: .5rem 0rem;
    color: white;
    border-radius: 10px;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-logo i{
    font-size: 1.25rem;
    opacity: 1;
}

.css{
    background: #E43A19;
}

.react{
    background: #61DBFB;
}

.python{
    background: #e0cc14;
}

.java{
    background: #111F4D;
}

.tech-title{
    margin-left: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-title h1{
    margin: 0;
    font-size: 1.3rem;
}

.tech-bar-container{
    margin-bottom:3rem; 
	  background:#F2F4F7;
	  background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#F2F4F7));
	  background-image: -webkit-linear-gradient(top, #e1ddd9, #F2F4F7);
	  background-image: -moz-linear-gradient(top, #e1ddd9, #F2F4F7);
	  background-image: -ms-linear-gradient(top, #e1ddd9, #F2F4F7);
	  background-image: -o-linear-gradient(top, #e1ddd9, #F2F4F7);
	  background-image: linear-gradient(top, #e1ddd9, #F2F4F7);  
    height: 1.25rem; 
    position: relative;
	  border-radius:10px; 
	  -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	  -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
    box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
    width: 75%; 
}

.tech-bar{
    height:95%;  
    position:absolute;
    margin: 0.5px 1px;
	border-radius:10px;
	-moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
	-webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;	 
	box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
}

.barcss{
	-moz-animation:barcss 2s ease-out;
	-webkit-animation:barcss 2s ease-out;
    background-color: #E43A19;
    width: 90%;
}

.barreact{
    -moz-animation:barcss 2s ease-out;
	-webkit-animation:barcss 2s ease-out;
    background-color: #61DBFB;
    width: 60%;
}

.barpython{
    -moz-animation:barcss 2s ease-out;
	-webkit-animation:barcss 2s ease-out;
    background-color: #e0cc14;
    width: 75%;
}

.barjava{
    -moz-animation:barcss 2s ease-out;
	-webkit-animation:barcss 2s ease-out;
    background-color: #111F4D;
    width: 50%;
}

.projects-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0rem 3rem 5rem 3rem;
}

.projects-container h1{
    font-size: 3.5rem;
    margin-bottom: 6rem;
}

.project-container{
    text-align: left;
    display: flex;
    flex-direction: row;
    margin-bottom: 7rem;
}

.project-container p{
    font-size: 1.25rem;
    line-height: 1.5;
}

.project-right{
    flex: 2;
    margin-left:3rem;
}
.project-right h1{
    margin: 0;
    font-size: 2rem;
}

.project-left h1{
    margin: 0;
    font-size: 2rem;
}

.project-left{
    flex: 1;
}

.left-two{
    flex: 2;
}

.right-two{
    flex: 1;
}

.container{
    width: 80%;
    /* background: #F2F4F7; */
    border-radius: 6px;
    padding: 30px 60px 30px 40px;
    margin: 0rem 2rem 5rem 2rem;
    color: #020205;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 5px 5px;
  }
  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color: #F2F4F7;
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 1.25rem;
    font-weight: 500;
    color: #F2F4F7;
    margin-bottom: 0.25rem;
    
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
  }
  .container .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #F2F4F7;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 1.5rem 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
  }
  .right-side .button input[type="submit"]{
    color:#020205;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #F2F4F7;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input[type="submit"]:hover{
    background: #E43A19;
    color:#F2F4F7;
  }

.footer-up-container{
  display: flex;
  justify-content: center;
  text-align: center;
  background: #020205;
  /* transition: 1s; */
  scroll-behavior: smooth;
}

.up{
  border: solid #020205;
  width: 1.25rem;
  height: 1.25rem;
  border-width: 0 5px 5px 0;
  margin-top: 1.25rem;
  display: inline-block;
  padding: 4px;
  transform: rotate(-135deg);
}

.up-ellipse{
  border-radius: 50% / 100% 100% 0 0;
  background: #F2F4F7;
  width: 6%;
  height: 5vh;
  cursor: pointer;
}

.footer-container{
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1.2rem;
    color: #020205;
    margin: 1rem 3rem;
}

.footer-width-container{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F4F7;
}

.footer-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-center{
    flex: 2;
    text-align: center;
}

.footer-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.footer-right a{
  color: #020205;
}

.footer-center a{
  color: #020205;
}

.hvr-radial-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    background: #e1e1e1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #E43A19;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
    color: white;
  }
  .hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }

  .hvr-bounce-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-radius: 10px;
  }
  .hvr-bounce-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #020205;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
    color: white;
  }
  .hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }

  .hvr-bounce-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-radius: 10px;
  }
  .hvr-bounce-to-bottom:before {
    content: "";
    border-radius: 10px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111F4D;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
    color: white;
  }
  .hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }
  
  .hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-radius: 10px;
  }
  .hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    border-radius: 10px;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #E43A19;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
    color: white;
  }
  .hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }
  
  .hvr-bounce-to-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    border-radius: 10px;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-to-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background: #7808c4;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-bounce-to-left:hover, .hvr-bounce-to-left:focus, .hvr-bounce-to-left:active {
    color: white;
  }
  .hvr-bounce-to-left:hover:before, .hvr-bounce-to-left:focus:before, .hvr-bounce-to-left:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }


@media only screen and (max-width: 1279px){
  html{
    font-size: 14px;
  }
  .about-container{
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .interests{
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .up-ellipse{
    width: 10%;
    height: 5.5vh;
  }

  .up{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .header-right{
    display: none;
  }
  .header-left{
    justify-content: center;
    align-items: center;
  }

  .main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding-bottom: 2rem;
  }
  .about-right{
    width: 85%;
    margin-bottom: 6rem;
  }
  .about-left{
    text-align: center;
  }
  .about-left p{
    margin: 2rem 2.5rem;
  }

  .tech-title h1{
    font-size: 1.25rem;
  }

  .technologies{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .technology-container{
    width: 100%;
  }

  .tech-logo{
    width: 15%;
  }

  .tech-bar-container{
    width: 100%;
  }

  .projects-container{
    display: flex;
    flex-direction: column;
  }
  .project-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-right{
    text-align: center;
    width: 75%;
    margin-left: 0;
    margin-right: 0;
  }
  .project-left{
    text-align: center;
    width: 75%;
    margin-left: 0;
    margin-right: 0;
  }
  iframe{
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
  }

  .project-container.two{
    flex-direction: column-reverse;
  }

  .container{
    width: 80%;
    padding: 30px 40px 30px 40px ;
  }

  .container .content .left-side{
    display: none;
  }
  .container .content .right-side{
    margin-left: 0;
    width: 100%;
    /* text-align: center; */
  }
  .up-ellipse{
    width: 15%;
    height: 4.5vh;
  }

  .up{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1rem;
  }
  .header-container{
    margin: 2.5rem 2.5rem;
  }
  .footer-center{
    display: none;
  }
  .footer-container{
    margin: 1rem 2rem;
  }

  .header-center{
    text-align: right;
  }

  .nav-list.header{
    display: none;
  }

  .nav-list-dropdown{
    display: flex;
    flex-direction: column;
  }

  .nav-list-dropdown a{
    text-decoration: none;
    color: #F2F4F7;
    padding: 0.5rem;
    cursor: pointer;
  }

  .nav-list.footer{
    display: block;
    padding-left: 0;
  }

  .dropdown-container{
    position: relative;
    display: block;
    text-align: right;
  }
  .dropdown-menu{
    position: absolute;
    background-color: #020205;
    z-index: 100;
    right: 0;
    top: calc(100% + .25rem);
    opacity: 0;
    padding: .5rem;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 0px 3px 3px;
    border-radius: .25rem;
    transform: translateY(-20px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
  }

  .dropdown-container.active > .burger-button + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

}

@media only screen and (max-width: 600px){
  .interests{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .interests-container h1{
    margin-top: 0;
  }

  .interest-container{
    width: 60%;
  }

  .container{
    width: 65%;
  }

  .up-ellipse{
    width: 18%;
    height: 5vh;
  }
  .up{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1.5rem;
  }

}